<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="adrienchinour.me : articles et projets personnels.">

    <title>{% block title %}Adrien Chinour{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block javascripts %}
        {{ importmap('app') }}
    {% endblock %}
</head>
<body>
<header>
    <div id="title">
        <a href="{{ path('home') }}">adrienchinour.me</a>
    </div>
    <nav id="menu">
        <ul>
            <li><a href="{{ path('articles') }}">Articles</a></li>
            <li><a href="{{ path('projects') }}">Projets</a></li>
            <li><a href="{{ path('about') }}">À Propos</a></li>
        </ul>
    </nav>
</header>

{% block content %}{% endblock %}

<footer>
    <p>Code source du site disponible sur
        <a href="https://github.com/adrien-chinour/static-php" target="_blank">
            github.com/adrien-chinour/static-php
        </a>
    </p>
</footer>
</body>
</html>
