{% extends '_base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        <em>
            {{ article.createdAt | date('d/m/Y') }} - {{ article.tags | join(' - ') }}
        </em>
        {{ article.content | raw }}
    </article>
{% endblock %}
